/* =========== Header ============ */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --color-btn: #2ac9bf;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  /* font-size: var(--font-Pop); */
}
a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.main-content {
  width: 1440px;
  max-width: calc(100% - 135px);
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  background: #fff;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -64px;
}
.header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0 62px;
}
/* .nav {
  margin-left: auto;
} */
.nav ul {
  display: flex;
}
.nav li {
  color: #2f3a3b;
  font-size: 1.6rem;
}
.header li {
  list-style: none;
  margin-right: 39px;
}
.header .body a {
  color: #2f3a3b;
  font-weight: 400;
}
.header .main-content a:hover {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 600;
}
.header .button {
  display: flex;
}

.btn:hover {
  opacity: 0.9;
}
.header .button .btn {
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  padding: 12px 24px 12px 24px;
}
.header .button .btn:hover {
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  height: 48px;
  min-width: 108px;
  color: #1ebfc1;
  padding: 12px auto 12px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
/* ==================== Hero ====================== */
.hero .body {
  display: flex;
}
/* Khối trái */
.hero .content-block {
  width: 50%;
  /* padding-left: 135px; */
  padding-top: 93px;
}
.hero .desc {
  color: #767e7e;
  font-size: 1.4rem;
}
.hero .heading {
  width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
}
.hero .desc.desc-big {
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78;
}
.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 52px;
}
.hero .btn.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 68px;
  background-color: var(--color-btn);
  border-radius: 14px;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero .watch-vid {
  margin-left: 50px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-vid .icon {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
}
/* =========================Khối phải======================== */
.hero .media-block {
  position: relative;
  width: 50%;
}
.hero .media-block .img {
  width: 576px;
  height: 631px;
  object-fit: cover;
}
.hero .hero-summary {
  position: absolute;
  display: flex;
}
.hero .hero-summary .items1 {
  display: flex;
  position: absolute;
  left: -40px;
  top: -500px;
  background: #fff;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  align-items: center;
  justify-content: center;
}
.hero .hero-summary .items2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  position: absolute;
  left: -50px;
  top: -180px;
}
.hero .hero-summary .items3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  position: absolute;
  right: -550px;
  top: -140px;
}
/* ============================Popular======================= */
.features {
  margin: 209px;
  margin-right: 416px;
}
.features .main-content .small {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.features .main-content .h2-heading {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.34;
  width: 577px;
}
.features .main-content .text {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}
.features .content {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.features .block .hai-muoi {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}
.features .block .muoi-sau {
  width: 223px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}
/* ============== Popular ===================== */
.popular {
  margin-top: 130px;
}
.popular .font12 {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.popular .h2heading {
  margin-top: 18px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
}
.popular .view-course {
  display: flex;
  justify-content: space-between;
}
.popular .view-course .desc {
  margin-top: 19px;
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78;
}
.popular .view-course .view-more {
  color: var(--color-btn);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.popular .main-content .all-course {
  display: flex;
  gap: 47px;
  margin-top: 79px;
  position: relative;
}
.popular .all-course .img-course {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
}
.popular .all-course .name-course {
  width: 325px;
  height: 230px;
  margin-left: 17px;
  border-radius: 8px;
  background: #fff;
  position: absolute;
  top: 322px;
  display: flex;
  flex-direction: column;
}
.popular .all-course .space-course {
  margin: 0 25px;
}
.popular .all-course .more-info {
  margin-top: 18px;
  display: flex;
  align-items: center;
}
.popular .name-course .title {
  color: #0d1111;
  font-family: Poppins;
  font-size: 2.2rem;
  font-weight: 700;
}
.popular .name-course strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.popular .name-course .info-course {
  color: #9da6a5;
  font-size: 1.4rem;
}
.popular .space-course:first-child .info-course {
  margin-top: 9px;
}

.popular .name-course .dots {
  margin: 0 10px;
  width: 6px;
  height: 6px;
  background: var(--color-btn);
  border-radius: 50%;
}
.popular .name-course:hover {
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
/* countdown */
.countdown .main-content {
  margin-top: 295px;
  display: flex;
  justify-content: center;
  gap: 202px;
}
.countdown .block-count {
  text-align: center;
}
.countdown .block-count h1 {
  margin: 0;
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
}
.countdown .block-count .count {
  margin: 0;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
}
/* ============ Testimonial ================= */
.testimonial {
  margin-top: 264px;
  position: relative;
}
.testimonial .main-content {
  display: flex;
}
/* block trai */
.testimonial .block-left {
  width: 30%;
}
.testimonial .block-left .comment {
  width: 419px;
  color: #5d6564;
  font-size: 32px;
  line-height: 1.5;
}
.testimonial strong {
  color: #070707;
  font-size: 1.6rem;
  /* font-weight: 500; */
}
.testimonial strong::before {
  content: "- ";
}

.testimonial .name-student {
  color: #767e7e;
  font-size: 1.6rem;
}
.testimonial .btn-test {
  margin-top: 52px;
  display: flex;
  gap: 30px;
}
.testimonial .btn-test button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--color-btn);
  border-radius: 50px;
  cursor: pointer;
  border: transparent;
}

.testimonial .btn-test button:hover {
  opacity: 0.9;
}

/* Block- phai */
.testimonial .block-right {
  width: 70%;
}
.testimonial .biggest {
  position: absolute;
  width: 235px;
  height: 235px;
  background: #ff8282;
  border-radius: 999px;
  object-fit: cover;
  right: calc(770px - 275px);
  top: 107px;
}
.testimonial .normal1 {
  position: absolute;
  background: #bf83ff;
  border-radius: 999px;
  object-fit: cover;
  right: calc(1042px - 275px);
  top: 19px;
}
.testimonial .normal2 {
  position: absolute;
  background: #1ebfc1;
  border-radius: 999px;
  object-fit: cover;
  right: calc(713px - 275px);
  top: 0;
}
.testimonial .normal3 {
  position: absolute;
  background: #ffc147;
  width: 78px;
  height: 78px;
  border-radius: 999px;
  object-fit: fill;
  right: calc(1200px - 257px);
  top: 258px;
}
.testimonial .normal4 {
  position: absolute;
  background: #ff947a;
  border-radius: 999px;
  object-fit: fill;
  width: 78px;
  height: 78px;
  right: calc(988px - 275px);
  top: 403px;
}
.testimonial .normal5 {
  position: absolute;
  background: #b1dfdc;
  border-radius: 999px;
  object-fit: fill;
  right: calc(631px - 275px);
  top: 374px;
}
/* Admin */
.admin {
  background: #def6f5;
}
.admin .main-content {
  width: 1440px;
  height: 272px;
  margin-top: 250px;
  display: flex;
  gap: 710px;
  align-items: center;
}
.admin .h2heading {
  margin-bottom: 18px;
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
}
.admin .fontmuoi-tam {
  margin-top: 0px;
  color: #767e7e;
  font-size: 1.8rem;
}
.admin .btn-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 68px;
  background-color: var(--color-btn);
  border-radius: 14px;
  font-size: 1.8rem;
  font-weight: 600;
}
/* ================= footer =============== */
.footer .main-content {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}
.footer .main-content .socials {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.footer .main-content .desc {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}
.footer .main-content a {
  color: #535353;
  font-size: 1.6rem;
}
.footer .socials .img-socials {
  margin-right: 13px;
}
.footer .copy-right {
  color: #b0b5b4;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
